DEBUG = False

SECRET_KEY='secure-key-for-django'

ALLOWED_HOSTS = ['production.domain', '127.0.0.1']

STATIC_ROOT = '/home/journey/journey-coop/static'

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'mail.server'
EMAIL_PORT = 465
EMAIL_HOST_USER = 'user@email.address'
EMAIL_HOST_PASSWORD = 'account-password'
EMAIL_USE_TLS = False
EMAIL_USE_SSL = True
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER
