staging.journey.coop:443 {
        route {
                file_server /static/* {
                        root /home/journey/journey
                }
                reverse_proxy 127.0.0.1:5000
        }

        tls nekton@protonmail.com

        encode zstd gzip

        log {
                output file /var/log/caddy-journey.log {
                        roll_size 1gb
                        roll_keep 1
                        roll_keep_for 720h
                }
        }
}
