[uwsgi]
chdir = /home/journey/journey-coop
http-socket = :5000
wsgi-file = journey/wsgi.py
env = DJANGO_SETTINGS_MODULE=journey.settings
static-map = /static=/home/journey/journey-coop/static/


pidfile = /home/journey/journey-coop/uwsgi/uwsgi_journey.pid
harakiri = 20
max-requests = 5000

daemonize = /home/journey/journey-coop/uwsgi/journey.log
strict = True
need-app = True
enable-threads = True