{% extends "overlay.html" %}

{% load widget_tweaks %}

{% block content %}

  <div class="flex items-center justify-center block">
    <div class="w-full max-w-sm p-8 bg-white ">
      <h4 class="text-2xl md:text-3xl font-inter font-semibold leading-normal text-gray-800 mb-4">
        Forgot your password?</h4>
      <p class="font-light">Enter your address below and we'll send you instructions for setting a new one.</p>

      <div class="my-2">
        <form hx-post="{% url 'password_reset' %}" hx-target="#nav" hx-swap="beforebegin">
          {% csrf_token %}

          {% for field in form %}

            <div class="py-2">
              {% include "partials/input_label.html" with for="email" label="Email" %}
              {% include "partials/input_text_single.html" with field=field id="username-email" name="email" type="text" %}
            </div>


          {% endfor %}
          <button type="submit" class="border border-violety rounded my-2 border-2 p-2">Reset</button>

          {% if form.errors %}

            <div class="flex justify-center my-4">
              <div class="w-full p-4 bg-red-100 border border-red-200 rounded">
                <h2 class="text-lg font-semibold text-red-800 mb-2">Login Failed</h2>
                <ul class="list-disc">
                  {% for values in form.errors.values %}
                    <li class="text-sm text-red-600 my-2"> {{ values }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
