{% extends "overlay.html" %}

{% load widget_tweaks %}

{% block content %}

    {% comment %} removing default overlay behaviour with close buttons since this is a standalone page {% endcomment %}
    <div x-init="document.querySelectorAll('.close-modal').forEach(elem =>{ elem.remove() })">



        {% if validlink %}
            <header class="text-2xl">Enter your new password</header>

            <form method="post">

                {% csrf_token %}

                {% for field in form %}
                    {% if field.name == "new_password1" %}
                        <div class="py-4">
                            {% include "partials/input_label.html" with for="new_password1" label="New password" %}
                            {% include "partials/input_text_single.html" with field=field id="password-input1" name="new_password1" type="password" placeholder="*******" %}
                        </div>
                    {% elif field.name == "new_password2" %}
                        <div class="mb-4">
                            {% include "partials/input_label.html" with for="new_password2" label="Confirm Password" %}
                            {% include "partials/input_text_single.html" with field=field id="password-input2" name="new_password2" type="password" placeholder="*******" %}
                        </div>
                    {% endif %}
                {% endfor %}
                {% include "partials/button.html" with type="submit" text="Change my password" %}


            </form>


        {% else %}

            <header class="text-2xl">Sorry!</header>
            <p>The password reset link was invalid, possibly because it has already been used. </p>
                <p class="text-lg text-blue-500">
                    <a href="{% url 'landing' %}"> Please request a new password reset via home page</a>.</p></div>

        {% endif %}


{% endblock %}