<!--list of responses-->


<ul class="list-none">
    {% for response in responses %}
    <li class="flex flex-col my-4 pl-4 bg-limey drop-shadow-lg">
    <div class="grid grid-cols-2 py-2 justify-center items-center">
        <span class="text-sm font-semibold">{{response.author}}</span>
        <span class="text-grey-500 text-xs">{{ response.created_on|date:"d/m/y" }} {{ response.created_on|date:"G:i" }} </span>
    </div>



        <span class="my-2 text-md font-normal">{{response.text}}</span>

    </li>

    {% endfor %}
</ul>
