{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journey to Co-op</title>



    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    {# Base script - pulls in all libraries and global stylesheets  #}
    {% vite_asset 'main/templates/ts/base.ts' %}


</head>
<body x-data="{overlay: false }" class="bg-greyish w-full">

<!--the viewport of the content has been narrowed down for mobile-first development simplicity w-[480px] -->
<div id="app" class="flex flex-col" x-data="{ next: '', logged: false}">
    {% comment %}currently used only after password reset due to security concerns of leaking the token {% endcomment %}
    {% if messages %}
        {% include "partials/feedback_banner_message.html" with messages=messages %}
    {% endif %}

    <div :class="{ 'hidden': overlay == true}"
         x-init="$watch('overlay', value => {if (!overlay && !logged && next != ''){document.getElementById('start-button').click(); next=''}})">
        {% include 'nav.html' %}
    </div>


    {% block content %}

    {% endblock %}
</div>

</body>
<style>

</style>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })

</script>

</html>