{% load custom_tags %}
{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journey to Co-op</title>


    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    {% vite_hmr_client %}
   {# Base script - pulls in all libraries and global stylesheets  #}
    {% vite_asset 'main/templates/ts/base.ts' %}


</head>
<body x-data="{overlay: false, layerData: ''}" class="bg-greyish">

<div class="max-w-3xl m-auto">
    <!--the viewport of the content has been narrowed down for mobile-first development simplicity w-[480px] -->
    <div id="app" x-on:layerchange="layerData=getLayerData($event);"
    class="flex flex-col" x-data="{ next: '', logged: false}">
    <div x-init="layerEventTrigger('landing', 'login'); console.log(layerData);"></div>
        {% comment %}currently used only after password reset due to security concerns of leaking the token {% endcomment %}
        {% if messages %}
            {% include "partials/feedback_banner_message.html" with messages=messages %}
        {% endif %}

        <div :class="{ 'hidden': overlay == true}"
             x-init="$watch('overlay', value => {if (!overlay && !logged && next != ''){document.getElementById('start-button').click(); next=''}})">
            {% include 'nav.html' %}
        </div>


        {% block content %}

        {% endblock %}
    </div>
</div>

{% journey_vite_prevent_unstyled_flash %}

</body>
<style>

</style>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })

</script>

</html>
