{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="flex flex-col min-h-screen w-full md:max-w-1/3 items-center">

    <div :class="{ 'hidden': overlay == true}">
      <div class="bg-limey my-4 px-4 md:px-8 py-4 mx:py-8">
        <p class="text-grey-800 text-2xl md:text-3xl font-inter font-normal">
          <button @click="next='start'">
                                <span id="start-button" hx-get="{% url 'start' %}"
                                      hx-target="#journey-overlay"
                                      class="text-black-500 hover:text-blue-800">
                   <u>Share</u>
                </span>
          </button>
          & discuss stories about joining co&#8209;operatives.
        </p>
      </div>


      <div>
        <div
          hx-get="{% url 'journeys' %}"
          hx-trigger="load, created_journey from:body"
          hx-target="#journey-list">
        </div>
        <div id="journey-list"></div>

      </div>


    </div>

    <!--Empty placeholder of all overlays-->
    <div id="journey-overlay"></div>


    <div class="sticky bottom-0 right-0" :class="{ 'hidden': overlay == true}">
      <button @click="next='start'">
      <span hx-get="{% url 'start' %}"
            hx-target="#journey-overlay"
            class="mr-4 bg-limey rounded boarder border-black border-2 p-2 text-grey-500 hover:text-blue-800">
                    Start a Journey
      </span>
      </button>
    </div>

  {% comment %}logic to execute if full refresh occurs{% endcomment %}
  {% if user.is_authenticated %}
    {% comment %}flip the nav {% endcomment %}
    <div x-init="layerEventTrigger('loggedout', 'loggedin');"></div>

    {% comment %} In case the user does not have nickname and country set yet and reloaded the page{% endcomment %}
    {% if not user.nickname %}
      {% include 'partials/nickname_trigger.html' %}
      {% endif %}

  {% endif %}

  </div>
  {% block scripts %}

    <script>

      /* scrolling switch and position logic for handling overlay behaviour*/
      let scrollToPos = 0;
      let monitorScroll = true
      const stopBodyScroll = () => {
        scrollToPos = document.documentElement.style.getPropertyValue('--scroll-y');
        const body = document.body;
        body.style.position = 'fixed';
        /* Centering body position for wider windows
        until there's styling for larger screens */
        if (window.innerWidth > 768) {
          body.style.left = '50%';
          body.style.transform = 'translateX(-50%)';
        }

        monitorScroll = false;
      };
      const enableBodyScroll = () => {
        const body = document.body;
        body.style.position = '';

        /* Resetting the properties for wider windows
        until there's styling for larger screens */
        if (window.innerWidth > 768) {
          body.style.left = '';
          body.style.transform = '';
        }


        setTimeout(
          function () {
            window.scrollTo({
              top: parseInt(scrollToPos),
              left: 0,
              behavior: 'auto'
            });
            monitorScroll = true;
          }, 5);


      }

      window.addEventListener('scroll', () => {
        if (monitorScroll) document.documentElement.style.setProperty('--scroll-y', `${window.scrollY}px`);
      });



    </script>

  {% endblock %}

{% endblock %}
