{% extends "overlay.html" %}

{% load widget_tweaks %}

{% block content %}
    <h1>Forgot your password?</h1>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form hx-post="{% url 'password_reset' %}" hx-target="#nav" hx-swap="beforebegin">
        {% csrf_token %}

        {% for field in form %}

            {{ field }}
        {% endfor %}
                    <button type="submit" class="border border-blue-500 rounded border-2 p-2">Reset</button>

                    {% if form.errors %}

                    <div class="flex justify-center my-4">
                        <div class="w-full p-4 bg-red-100 border border-red-200 rounded">
                            <h2 class="text-lg font-semibold text-red-800 mb-2">Login Failed</h2>
                            <ul class="list-disc">
                                {% for values in form.errors.values %}
                                    <li class="text-sm text-red-600 my-2"> {{ values }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
    </form>
{% endblock %}